@inject NavigationManager NavigationManager
@inject IConfiguration Configuration
@inject IStringLocalizer<App> Localizer
@if (cultures != null)
{
    <form class="form-inline" >
        <select style="background:rgba(255, 255, 255, 0);border-width:0px;color:white;" class="form-control mr-2" @bind="selectedCulture">
            @foreach (var culture in cultures.OrderByDescending(key => key.Value))
            {
                <option value="@culture.Key" style="background:rgba(255, 255, 255, 0);border-width:0px;color:black;" >@culture.Value</option>
            }
        </select>
        <button class="btn btn-outline-info" style="border-width:0px;" @onclick="RequestCultureChange">
            @Localizer["changelanguage"]
        </button>
    </form>
}

@code {
    private string selectedCulture = System.Threading.Thread.CurrentThread.CurrentCulture.Name;
    private Dictionary<string, string> cultures;

    protected override void OnInitialized()
    {
        cultures = Configuration.GetSection("Cultures")
            .GetChildren().ToDictionary(x => x.Key, x => x.Value);
    }

    private void RequestCultureChange()
    {
        if (string.IsNullOrWhiteSpace(selectedCulture))
        {
            return;
        }

        var uri = new Uri(NavigationManager.Uri)
            .GetComponents(UriComponents.PathAndQuery, UriFormat.Unescaped);

        var query = $"?culture={Uri.EscapeDataString(selectedCulture)}&" +
            $"redirectUri={Uri.EscapeDataString(uri)}";

        NavigationManager.NavigateTo("/Culture/SetCulture" + query, forceLoad: true);
    }
}
